<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Data Tables</title>
    <div th:replace="fragments/r :: resource"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="fragments/h :: header"/>
    <aside th:replace="fragments/s :: sidebar"/>
    <section class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section th:replace="fragments/b :: breadcrumb"/>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">数据列表</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="wk:${wks}">
                                    <td th:text="${wk.seq}"></td>
                                    <td th:text="${wk.acceptCount}"></td>
                                    <td th:text="${wk.compromiseCount}"></td>
                                    <td th:text="${wk.standbyCount}"></td>
                                    <td th:text="${wk.rejectCount}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
</body>
</html>