<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>查询计件工时</title>
    <div th:replace="fragments/r :: resource"/>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.3.8/plugins/datatables/dataTables.bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/fixedColumns.dataTables.min.css}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="fragments/h :: header"/>
    <aside th:replace="fragments/s :: sidebar"/>
    <section class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section th:replace="fragments/b :: breadcrumb('计件管理', '计件管理', '工时列表')"/>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!--<div class="box-header">
                            <h3 class="box-title">工时列表</h3>
                        </div>-->
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>产品编号</th>
                                    <th>产品名称</th>
                                    <th>工序号</th>
                                    <th>零件图号</th>
                                    <th>零件名称</th>
                                    <th>接收数量</th>
                                    <th>基本工时</th>
                                    <th>辅助工时</th>
                                    <th>合格数</th>
                                    <th>让步接受数</th>
                                    <th>待用数</th>
                                    <th>报废数</th>
                                    <th>合计工时</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="wk:${wks}">
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.createTime}"></td>
                                    <td th:text="${wk.acceptCount}"></td>
                                    <td th:text="${wk.compromiseCount}"></td>
                                    <td th:text="${wk.standbyCount}"></td>
                                    <td th:text="${wk.rejectCount}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<!-- DataTables -->
<script th:src="@{/webjars/AdminLTE/2.3.8/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/AdminLTE/2.3.8/plugins/datatables/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script th:src="@{/js/workinghours.js}"></script>
</body>
</html>