<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="sidebar" class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/img/user.jpg}" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p>张三</p>
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header">导航菜单</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>计件管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/wk/list_view}"><i class="fa fa-circle-o"></i>工时管理</a></li>
                    <li><a th:href="@{/wk/product_view}"><i class="fa fa-circle-o"></i>产品维护</a></li>
                    <li><a th:href="@{/wk/part_view}"><i class="fa fa-circle-o"></i>零件维护</a></li>
                </ul>
            </li>
        </ul>
    </section>

</aside>
</body>
</html>