<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/r :: resource"/>
    <title>首页</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="fragments/h :: header"/>
    <aside th:replace="fragments/s :: sidebar"/>
    <section class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section th:replace="fragments/b :: breadcrumb('Dashboard')"/>
    </section>
</div>
</body>
</html>